<!doctype html>
<html lang="{{ site.htmlLang }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ page.title }} &ndash; {{ site.title }}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ kirby.url }}/static/master.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/brands.css">
  {% if site.googleAnalytics.notEmpty %}
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.googleAnalytics }}', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->
  {% endif %}
  {% if site.googleTagManager.notEmpty %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ site.googleTagManager }}');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
</head>
<body class="col">

  {% if site.googleTagManager.notEmpty %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  <header class="header">
    {% block header %}
    <div class="max80 mx">
      <div class="py1 sd-p1 sd-row ld-row justify-between items-center flex-wrap">
        <div class="order0 row justify-between span1 span-auto">
          <h1><a class="block p1 fw900" style="font-size: 1.75rem;" href="{{ page('home').url }}">
            {{- site.title -}}
          </a></h1>
        </div>
        <nav class="order1 span1 span-auto hide sd-show">
          <ul class="px025 row justify-end ac">
            {% for item in site.social.toStructure %}
            <li><a
              class="block p05"
              title="{{ item.name }}"
              href="{{ item.url }}"
            ><span class="h3 fab block p025" aria-hidden="true">&#x{{ item.code }};</span><span class="hide">{{ item.name }}</span></a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    {% endblock %}
  </header>

  <main class="span1">
    {% block main none %}
  </main>

  {% if site.footer.notEmpty %}
  <footer class="bg-black-90 color-white">
    <div class="wrap py2">
      <div class="py1 sd-p1">

        <div class="p1 copy lh4 ac">
          {{ site.footer | kt }}
        </div>

      </div>
    </div>
  </footer>
  {% endif %}

</body>
</html>
