{% with {
  ta: section.textAlign.value,
  ts: section.textSize.value,
  fp: section.figure.notEmpty ? section.figurePosition.value : null,
  fs: section.figure.notEmpty ? section.figureSize.value : null,
  fig: section.figure.notEmpty ? section.figure.toFile : null,
} %}
<section>
  <div class="py1 sd-px1 max{% if fs == 'bigger' %}80{% else %}70{% endif %} mx col items-center
    {{- ta == 'right' ? ' ar' : ta == 'center' ? ' ac' : ' al' }}
    {%- if fp %} justify-between
    {%- if fs == 'bigger' %} xl-{% else %} ld-{% endif %}{% if fp == 'left' %}row{% elseif fp == 'right' %}row-reverse{% endif -%}
    {%- endif -%}
  ">

    {% if fp %}
    <div class="span{% if fs == 'bigger' %}2 max52{% else %}span1 max34{% endif %}">
      <div class="p1 ld-p2 copy lh4">
        {{ "(image: %s caption: %s)"
          | format(section.figure.toFile.filename, section.figureCaption.value)
          | kt({
              parent: section.figure.parent,
              field: section.figure,
            } | merge(fs == 'bigger' ? {
              width: 768,
              srcset: [ 480, 768, 960, 1280 ],
            } : {
              width: 480,
              srcset: [ 480, 960 ],
            }))
        }}
      </div>
    </div>
    {% endif %}

    <div class="span1
      {%- if fp %} max32{% else %} max42{% endif -%}
    ">
      {% if section.headline.notEmpty
        or section.subheadline.notEmpty
      %}
      <div class="px1 py05">
        {% if section.headline.notEmpty %}
        <h1 class="py05 h2 sd-h1 lh1 fw800">{{ section.headline }}</h1>
        {% endif %}
        {% if section.subheadline.notEmpty %}
        <h2 class="py05 h6 sd-h4 lh4 o80">{{ section.subheadline }}</h2>
        {% endif %}
      </div>
      {% endif %}
      {% if section.text.notEmpty %}
      <div class="p1 copy {%- if ts == 'bigger' %} sd-h5{% endif %} lh4">
        {{ section.text.kt({ width: 640, srcset: [ 320, 640, 960, 1280 ] }) | raw }}
      </div>
      {% endif %}
      {% if section.actions.notEmpty %}
      <div class="row justify-{{ ta == 'right' ? 'end' : ta == 'center' ? 'center' : 'start' }} p05">
        {% for action in section.actions.toStructure %}
        <div class="p05"><a class="button min12 ac p1" href="{{ page(action.link).url ?: action.link.value }}">
          <span class="button__label px05 fw500 lh4 color-white uc">{{ action.label }}</span>
        </a></div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

  </div>
</section>
{% endwith %}
