{% extends layout() %}

{% block title %}
{% if site.tagline.notEmpty %}{{ site.title }} &ndash; {{ site.tagline }}{% else %}{{ parent() }}{% endif %}
{% endblock %}

{% block header %}
{% with { blocks: page.find('hero').children().listed() } %}
{% if blocks.count > 0 %}
<div class="hero">
  <div class="hero__bg"></div>
  <div class="hero__content col max80 mx">

    <div>
      {{ parent() }}
    </div>
    <div class="pb2">
      <div class="md-py2">

        {% for section in blocks %}
        {% include partial(section.intendedTemplate) %}
        {% endfor %}

      </div>
    </div>

  </div>
</div>
{% else %}
{{ parent() }}
{% endif %}
{% endwith %}
{% endblock %}

{% block main %}
<div class="py2 md-py4">

  {% for section in page.children().notTemplate('hero') %}
  {% include partial(section.intendedTemplate) %}
  {% endfor %}

</div>
{% endblock %}
